{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "styles/profile.css" %}">
{% endblock %}

{% block content %}
  <div class="card">
    {% if respond.profile.profile_picture %}
    <img src="{{respond.profile.profile_picture.url}}" alt="{{respond.username}}" style="width:100%">
    {% else %}
    <img src="{% static "images/login/profile_pic.svg" %}" alt="{{respond.username}}" style="width:100%">
    {% endif %}
    {% if respond.profile.first_name %}
    <h1>{{respond.profile.first_name}} {{respond.profile.last_name}}</h1>
    {% else %}
    <h1>{{respond.username}}</h1>
    {% endif %}
    <!-- <p class="title">CEO & Founder, Example</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a> -->
    <a href="{% url 'profile' user=respond.username %}"><p><button>Profile</button></p></a>
  </div>
{% endblock %}
